.accueil {
    color: red;
}

.texteAccueil {
    font-size:xx-large;
    text-align: center;

}

.imageAccueil { 
    height:20cm;
    display: block;
    margin-left:33%;
    margin-right:0%;
    
}




