footer {
    background-color: #0b4100;
    color: white;
    
}

.kill-underline {
    text-decoration: none !important;
}
.elements {
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;

    
}
.centering {
    display:flex;
    justify-content: center;
    
}

.contact, .legals {
    text-decoration: none !important; 
    color: white;
    background-color: #0b4100;
    
    
}
.contact, .legals, .location, .map {
    display: flex;
    justify-content: center;

}


.contact:hover, .legals:hover{
    color: #e14000;
    text-decoration: none;

}
iframe {
   background-color: white;

}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
